/* Raw elements */
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Muli', 'Noto Sans JP', 'Montserrat', sans-serif;
  background-color: #FAFAFA; }

footer {
  background-color: #607D8B;
  width: 100%;
  margin-top: 4%; }

/* General */
.h1 {
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  font-size: 2.5vw; }

.p {
  font-size: 1.3vw; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0; }

.d-none {
  display: none; }

.link:link {
  color: #455A64;
  font-weight: bold; }

.color-primary-text {
  color: #FAFAFA; }

.bg-primary-dark {
  background-color: #455A64; }

.wrap {
  flex-wrap: wrap; }

.margin-t-1 {
  margin-top: 1.5%; }

.margin-r-3 {
  margin-right: 2%; }

/* Header */
.header {
  background-color: #455A64;
  background-image: url("../images/keyboard.jpg");
  background-blend-mode: overlay;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative; }

.header > div > h1,
.header > h2,
.header > p {
  color: #FAFAFA;
  font-weight: bold; }

.header > div > h1 {
  font-size: 4vw; }

.header > h2 {
  font-size: 2vw;
  margin-bottom: 1vw; }

.header > p {
  font-size: 1.2vw; }

.typing {
  height: 4.5vw;
  float: left;
  padding: 3px;
  overflow: hidden;
  border-right: .10em solid #fafafa;
  white-space: nowrap;
  letter-spacing: .10em;
  animation: typing 1.3s steps(30, end), blink-caret 0.5s step-end infinite; }

.span-arrow {
  font-size: 330%;
  opacity: 0;
  color: #FAFAFA;
  display: block;
  cursor: pointer;
  transition: 1s; }

.span-arrow:hover {
  color: #607D8B; }

/* Main */
.intro {
  padding: 1%;
  border-bottom-style: solid;
  border-color: #BDBDBD;
  border-width: thin; }

.intro > p {
  padding-bottom: 1%; }

.project-box {
  overflow: hidden;
  background-blend-mode: overlay;
  width: 24vw;
  height: 24vw;
  margin: 0.2%;
  position: relative;
  -webkit-box-shadow: 10px 5px 8px -3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 5px 8px -3px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 5px 8px -3px rgba(0, 0, 0, 0.65);
  transition: 0.4s;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.project-box:hover {
  width: 25vw;
  height: 25vw;
  z-index: 50;
  -webkit-box-shadow: 12px 5px 8px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 12px 5px 8px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 12px 5px 8px 0px rgba(0, 0, 0, 0.65);
  cursor: default; }

.project-description {
  position: absolute;
  bottom: -300px;
  font-family: 'Noto Sans JP';
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #FAFAFA;
  width: 100%; }

.project-description > div > span {
  padding: 1%;
  color: #607D8B; }

.project-box:hover .project-description {
  transition: 0.7s;
  bottom: 3%; }

.project-class,
.project-title {
  color: #212121;
  background-color: #CFD8DC; }

.project-class {
  font-size: 2vw;
  width: 100%; }

.project-title {
  font-size: 1.5vw;
  width: 100%; }

.plus {
  position: absolute;
  top: 24%;
  font-size: 10vw;
  color: #607D8B; }

.ico-40 > img {
  cursor: pointer;
  height: 1.4vw;
  width: 1.4vw; }

/* Particular projects */
.project-1 {
  background-image: url("../images/placeholder-1.png"); }

.project-2 {
  background-image: url("../images/social-place-holder.png"); }

.project-3 {
  background-image: url("../images/ruby.svg");
  background-size: 60% 60%; }

.project-4 {
  background-image: url("../images/ruby.svg");
  background-size: 60% 60%; }

.project-5 {
  background-image: url("../images/c.svg");
  background-size: 60% 60%; }

.project-6 {
  background-image: url("../images/javascript-1.svg");
  background-size: 60% 60%; }

/* section articles */
.section-articles {
  background-color: #CFD8DC; }

/* Footer */
.credit {
  font-size: 1.2vw;
  font-family: 'Montserrat';
  color: #FAFAFA;
  font-weight: bold; }

.ul-footer {
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: #BDBDBD;
  padding: 8%;
  font-size: 1.8vw; }

.ul-footer > span {
  color: #455A64;
  font-weight: bolder;
  display: block;
  margin-bottom: 5%;
  font-size: 1.5vw; }

.ul-footer > li {
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 1.3vw; }

.ul-footer > li > a {
  color: #FAFAFA; }

/* Efects */
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both; }

.text-focus-in {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #fafafa; } }
@keyframes opacity-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: rotate(90deg);
    opacity: 1; } }
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
/* Medias */
@media (max-width: 690px) {
  header {
    font-size: 4vw; }

  .project-description {
    bottom: 0; } }
@media (max-width: 500px) {
  .header > div > h1 {
    font-size: 5.2vw; }

  .header > h2 {
    font-size: 3.2vw;
    margin-bottom: 1vw; }

  .header > p {
    font-size: 2.42vw; }

  .typing {
    height: 4.5vw; }

  .h1 {
    font-size: 5vw; }

  .p {
    font-size: 2vw; }

  .li-contact > a > img {
    width: 9.5vw;
    height: 9.5vw; }

  .credit {
    font-size: 2.2vw; }

  .ul-footer {
    font-size: 2.8vw; }

  .ul-footer > span {
    font-size: 2.5vw; }

  .ul-footer > li {
    font-size: 2.3vw; } }
@media (max-width: 420px) {
  .project-box {
    width: 100vw;
    height: 40vh; }

  .project-box:hover {
    width: 100vw;
    height: 40vh; }

  .project-description {
    bottom: 0; }

  .project-description {
    bottom: 2%;
    font-size: 5vw; } }

/*# sourceMappingURL=main.css.map */
