/* Raw elements */
body {
  font-family: 'Muli', 'Noto Sans JP', 'Montserrat', sans-serif;
  background-color: #FAFAFA; }

/* General */
.h1 {
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  font-size: 2.5vw; }

.p {
  font-size: 1.3vw; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0; }

.color-primary-text {
  color: #FAFAFA; }

.bg-primary-dark {
  background-color: #455A64; }

.wrap {
  flex-wrap: wrap; }

/* Header */
.header {
  background-color: #455A64;
  background-image: url("../images/keyboard.jpg");
  background-blend-mode: overlay;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative; }

.header > div > h1,
.header > h2,
.header > p {
  color: #FAFAFA;
  font-weight: bold; }

.header > div > h1 {
  font-size: 4vw; }

.header > h2 {
  font-size: 2vw;
  margin-bottom: 1vw; }

.header > p {
  font-size: 1.2vw; }

.typing {
  height: 4.5vw;
  float: left;
  padding: 3px;
  overflow: hidden;
  border-right: .10em solid #fafafa;
  white-space: nowrap;
  letter-spacing: .10em;
  animation: typing 1.3s steps(30, end), blink-caret 0.5s step-end infinite; }

.span-arrow {
  position: absolute;
  display: inline-block;
  font-size: 330%;
  bottom: 30%;
  opacity: 0;
  color: #FAFAFA; }

/* Main */
.intro {
  padding: 2.5%; }

.intro > p {
  padding-bottom: 1%;
  border-bottom-style: solid;
  border-color: #BDBDBD;
  border-width: thin; }

.project-box {
  overflow: hidden;
  background-blend-mode: overlay;
  width: 24vw;
  height: 24vw;
  margin: 0.2%;
  position: relative;
  -webkit-box-shadow: 10px 5px 8px -3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 5px 8px -3px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 5px 8px -3px rgba(0, 0, 0, 0.65);
  transition: 0.4s;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.project-box:hover {
  width: 25vw;
  height: 25vw;
  z-index: 50;
  -webkit-box-shadow: 12px 5px 8px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 12px 5px 8px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 12px 5px 8px 0px rgba(0, 0, 0, 0.65);
  cursor: default; }

.project-description {
  position: absolute;
  bottom: -300px;
  font-family: 'Noto Sans JP';
  font-size: 1.2vw;
  font-weight: bold;
  background-color: #FAFAFA;
  width: 100%; }

.project-description > div > span {
  padding: 1%;
  color: #607D8B; }

.project-box:hover .project-description {
  transition: 0.7s;
  bottom: 3%; }

.project-class,
.project-title {
  color: #212121;
  background-color: #CFD8DC; }

.project-class {
  font-size: 2vw;
  width: 100%; }

.project-title {
  font-size: 1.5vw;
  width: 100%; }

.plus {
  position: absolute;
  top: 24%;
  font-size: 10vw;
  color: #607D8B; }

.ico-40 > img {
  cursor: pointer;
  height: 1.4vw;
  width: 1.4vw; }

/* Particular projects */
.project-1 {
  background-image: url("../images/placeholder-1.png"); }

.project-2 {
  background-image: url("../images/social-place-holder.png"); }

.project-3 {
  background-image: url("../images/Untitled-2.png"); }

.project-4 {
  background-image: url("../images/ruby-svg.svg");
  background-size: 60% 60%; }

/* Efects */
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both; }

.text-focus-in {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #fafafa; } }
@keyframes opacity-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: rotate(90deg);
    opacity: 1; } }
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
