.grid-template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1%;
}

.row {
  grid-column: span 12;
}

@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span #{$i}
    }
  }
}

@media (min-width: 992px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@media (min-width: 992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      grid-column: span #{$i};
    }
  }
}
