$primary-color-dark: #455A64;
$primary-color: #607D8B;
$primary-color-light: #CFD8DC;
$primary-color-text: #FAFAFA;
$accent-color: #607D8B;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

/* Raw elements */

html {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

body {
  font-family: 'Muli', 'Noto Sans JP', 'Montserrat', sans-serif;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 165%;
}

h3 {
  font-size: 140%;
  margin-top: 1.5%;
}

/* General */

.d-inline-b {
  display: inline-block;
}

.d-block {
  display: block;
}

.display-none {
  display: none;
}

/* Landing */

.landing {
  z-index: 50;
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
  font-family: 'Muli';
  color: $primary-color-text;
  position: relative;
}

.typing {
  float: left;
  padding: 3px;
  overflow: hidden;
  border-right: .10em solid #fafafa;
  white-space: nowrap;
  letter-spacing: .10em;
  animation:
    typing 1.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.h3-landing {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.span-arrow {
  position: absolute;
  display: inline-block;
  font-size: 330%;
  bottom: 35%;
  opacity: 0;
}

.p-landing {
  opacity: 0;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}

/* Nav */

.ul-nav {
  position: sticky;
  top: 0;
  padding: 10px;
  font-family: 'Montserrat';
  color: $primary-text-color;
  list-style: none;
  font-size: 105%;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: $primary-color-light;
  background-color: $primary-color-light;
  opacity: 0.5;
}

.ul-nav > li {
  margin-left: 5px;
  display: inline-block;
}

/* Main section */

.main-section {
  height: 100vh;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

/* Project */
/* projects - main */

.project-1 {
  background-color: $primary-color-light;
  height: 50vh;
}

.project-1-div {
  height: 95%;
  width: 50%;
  background-color: $accent-color;
  animation: bg-loop 250s linear infinite;
  transition: all .2s ease-in-out;
}

.pro-2 {
  background-color: $primary-color-text;
  animation: bg-loop-b 290s linear infinite;
}

.project-1-div {
  background-image: url(../images/ruby-svg.svg);
}

.pro-1 {}

.project-1-div:hover {
  width: 100%;
}

.h3-title-project {
  background-color: yellow;
  color: $primary-text-color;
}

.project-1-div:hover .h3-title-project {
  display: inline-block;
}

/* animation */

@keyframes bg-loop {
  100%{
    background-position:0px -3000px;
  }
}

@keyframes bg-loop-b {
  100%{
    background-position:0px 3000px;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #fafafa
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: rotate(90deg);
    opacity: 1;
  }
}

@keyframes hover {
  0% {
    transform: translatey(-3px);
  }

  23% {
    transform: translatey(-2px);
  }

  33% {
    transform: translatey(-1px);
  }

  43% {
    transform: translateY(0);
  }

  63% {
    transform: translateY(-1);
  }

  83% {
    transform: translateY(-2);
  }

  100% {
    transform: translatey(-3px);
  }
}

/* main - article projects */

.h1-projects {
  font-family: 'Noto Sans JP';
  padding: 2vw 2vw 1vw 2vw;
  font-size: 3vw;
  letter-spacing: 0.3vw;
}

.h3-projects {
  padding: 1vw 2vw 2vw 2vw;
  font-size: 1.5vw;
}

/* medias */

@media (min-width: 650px) and (max-width: 900px) {
  .span-arrow {
    position: absolute;
    display: inline-block;
    font-size: 330%;
    bottom: 18%;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 155%;
  }

  h2 {
    font-size: 130%;
  }

  h3 {
    font-size: 140%;
  }

  .p-landing {
    font-size: 80%;
  }
}

@media (max-width: 480px) {}